<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
        {{> header}}
        <p>This is the about page of our website</p>    
        {{> footer}}
    </footer>
    </body>

   
</html>