<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
    </head>

    <body>
       {{> header}}
       <p> {{screamIt welcomeMessage}} </p>
        <p>This is the home page of our website</p>    
        {{> footer}}
    </footer>
    </body>

   
</html>